main {
  background-color: #eee;
}

#banner .banner {
  height: 80vh;
  max-width: 100%;
  background-image: url("../img/banner\ detalhes.png");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

#navbarNav li:hover {
  position: relative;
}

#navbarNav li::before {
  content: '';
  background: black;
  position: absolute;
  bottom: 3px;
  height: 3px;
  width: 0px;
  /*dica: width iniciando em 0 e aplicação de uma transição*/
}

#navbarNav li:hover::before {
  width: 100%;
  transition: 0.3s;
}

#detalhes h2 {
  height: 100px;
  font-size: 3rem !important;
  font-weight: bold !important;
}

#detalhes p {
  text-align: justify;
}

.redes_sociais {
  gap: 10px;
}

h1 {
  padding: 0 !important;
  margin: 0 !important;
}

ul {
  margin-bottom: 0 !important;
}

.profile-image {
  height: 120px;
}

@media (min-width: 992px) {
  #footer-div {
    flex-direction: row !important;
    justify-content: space-around;
    align-items: center;
  }

  #navbarNav {
    justify-content: center;
  }

  #navbarNav ul {
    gap: 50px;
  }
}

@media (max-width: 768px) {
  iframe {
    height: 330px !important;
  }
}

@media (max-width: 425px) {
  #detalhes h2 {
    font-size: 2.5rem !important;
  }

  iframe {
    height: 175px !important;
  }
}
