.banner {
  height: 100vh;
  width: 100%;
  background-image: url("https://picsum.photos/1320/827");
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

h2 {
  height: 100px;
  font-size: 3rem !important;
  font-weight: bold !important;
}

.redes_sociais {
  gap: 10px;
}

h5 {
  margin: 0 !important;
  padding: 0 !important;
  margin-bottom: 0 !important;
}

ul {
  margin-bottom: 0 !important;
}

.profile-image {
  height: 120px;
}

#card {
  width: 100%;
}

.container-cards {
  gap: 15px;
}


@media (min-width: 992px) {
  #footer-div {
    flex-direction: row !important;
    justify-content: space-around;
    align-items: center;
  }

  #navbarNav {
    justify-content: center;
  }

  #navbarNav ul {
    gap: 50px
  }

}